body {
	padding-top: 70px;
}

.border {
	border: solid rgb(220,220,220) 1px;
	padding: 10px;
	margin-bottom: 15px; 
}
.border-notop {
	border-top: none;
}

.edit-sentence {
	padding: 2px;
	border: dotted #d58512; 3px;			
}
.edit-main {
	background-color: #7be0fe;	
	color: white;		
}
.edit-sub {
	background-color: #77d477;			
	color: white;		
}