@CHARSET "ISO-8859-1";

/* Scritta Iniziale */
#project{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left:1%;
	height: 45px;
	font-family: Garamond, serif;
	line-height: 1em;
	color: #9198ad;
	font-style:italic;
	text-decoration:underline;
	font-size: 52px;
	text-shadow:0px 0px 0 rgb(121,128,149),1px 1px 0 rgb(97,104,125),2px 2px 0 rgb(72,79,100),3px 3px 0 rgb(48,55,76), 4px 4px 0 rgb(24,31,52),5px 5px 4px rgba(0,0,0,0.35),5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2)
}

/* Tabella mainArea */
 #tabs { margin-top: 1em; font-size: 10px;}
 #tabs li .ui-icon-close { float:left !important; margin: 0.4em 0.2em 0 0 !important; cursor: pointer !important; font-size: 8px;}
 .addtab{width:100% !important; padding:2px !important; height:34px !important;}
 .ui-tabs .ui-tabs-nav li {width:100px !important; overflow:hidden; padding:2px !important; height:30px !important;}
 
 
/* Bottoni Menubar */
 #menuBar { 
 margin: 4px;
 width: 99%; 
 float: right; 
 }
 #Annotator {	float: right;
				font-family: 'courier new';
				font-weight: bold;
				color: #FFFFFF !important;
				font-size: 11px;
				text-shadow: 1px 1px 0px #9198AD;
				box-shadow: 1px 1px 1px #9198AD;
				padding: 5px 15px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				border-radius: 6px;
				border: 2px groove #9198AD;
				background: #9198AD;
				background: linear-gradient(top,  #9198AD,  #CFCFCF);
				background: -ms-linear-gradient(top,  #9198AD,  #CFCFCF);
				background: -webkit-gradient(linear, left top, left bottom, from(#9198AD), to(#CFCFCF));
				background: -moz-linear-gradient(top,  #9198AD,  #CFCFCF);
 }
 
 #Annotator:hover {  color: #FFFFFF !important;
					  background: #FFFFFF;
					  background: linear-gradient(top,  #787D8F,  #5E6270);
					  background: -ms-linear-gradient(top,  #787D8F,  #5E6270);
					  background: -webkit-gradient(linear, left top, left bottom, from(#787D8F), to(#5E6270));
					  background: -moz-linear-gradient(top,  #787D8F,  #5E6270);
}
 
 #About {		float: right;
				font-family: 'courier new';
				font-weight: bold;
				color: #FFFFFF !important;
				font-size: 11px;
				text-shadow: 1px 1px 0px #9198AD;
				box-shadow: 1px 1px 1px #9198AD;
				padding: 5px 15px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				border-radius: 6px;
				border: 2px groove #9198AD;
				background: #9198AD;
				background: linear-gradient(top,  #9198AD,  #CFCFCF);
				background: -ms-linear-gradient(top,  #9198AD,  #CFCFCF);
				background: -webkit-gradient(linear, left top, left bottom, from(#9198AD), to(#CFCFCF));
				background: -moz-linear-gradient(top,  #9198AD,  #CFCFCF);
 }
 
 #About:hover {  color: #FFFFFF !important;
					  background: #FFFFFF;
					  background: linear-gradient(top,  #787D8F,  #5E6270);
					  background: -ms-linear-gradient(top,  #787D8F,  #5E6270);
					  background: -webkit-gradient(linear, left top, left bottom, from(#787D8F), to(#5E6270));
					  background: -moz-linear-gradient(top,  #787D8F,  #5E6270);
 }
 
 #Help {		float: right;
				font-family: 'courier new';
				font-weight: bold;
				color: #FFFFFF !important;
				font-size: 11px;
				text-shadow: 1px 1px 0px #9198AD;
				box-shadow: 1px 1px 1px #9198AD;
				padding: 5px 15px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				border-radius: 6px;
				border: 2px groove #9198AD;
				background: #9198AD;
				background: linear-gradient(top,  #9198AD,  #CFCFCF);
				background: -ms-linear-gradient(top,  #9198AD,  #CFCFCF);
				background: -webkit-gradient(linear, left top, left bottom, from(#9198AD), to(#CFCFCF));
				background: -moz-linear-gradient(top,  #9198AD,  #CFCFCF);
		
 }
 
 #Help:hover {  color: #FFFFFF !important;
					  background: #FFFFFF;
					  background: linear-gradient(top,  #787D8F,  #5E6270);
					  background: -ms-linear-gradient(top,  #787D8F,  #5E6270);
					  background: -webkit-gradient(linear, left top, left bottom, from(#787D8F), to(#5E6270));
					  background: -moz-linear-gradient(top,  #787D8F,  #5E6270);}
 
/* CSS layout pagina */

#mainArea{
	float: right;
	width: 73%;
	height: 535px;
	font-size: 10px;
	padding: 5px 5px;
	
}

.Doc{
	width: 100%;
	height: 470px;
	overflow: scroll;
	font-size:13px;
}

#leftpanel{
	float: left;
	width: 25%;
	height: 545px;
	font-size: 10px;
	margin-top:0px;
	margin-left:1%;
	
}

#lista{
	height: 34px;
}

#annotazioni{
	margin: 10px;
	padding:0px;
}

#metaArea{
	height:49%;
}

#docArea{
	height: 50%;
	margin: 4px;
}

#ui-id-5{
	height:70% !important;
}
#ui-id-7{
	height:70% !important;
}


#doclist .ui-selecting { background: #9198AD; font-size: 10px;}
#doclist .ui-selected { background: #5E6270; color: white; font-size: 10px;}
#doclist { list-style-type: none; margin: 0; padding: 0; width: relative; font-size: 10px;}
#doclist li {padding:0.4em; font-size: 1.4em; height: 20xpx; width:99%;font-size: 10px;margin-top:3px;}

#docannotation .ui-selecting { background: #9198AD; font-size: 15px;}
#docannotation .ui-selected { background: #5E6270; color: white; font-size: 15px;}
#docannotation { list-style-type: none; margin: 0; padding: 0; width: relative; font-size: 10px;}
#docannotation li {padding:0.4em; font-size: 1.4em; height: 20xpx; width:99%;font-size: 15px;margin-top:3px;}

#login{
	font-size:12px;
}
#login label, #login input { display:block; }
#login label { margin-top: 5px; }
#login input { width: 95%; }

.border {
	border: solid rgb(220,220,220) 1px;
	padding: 10px;
	margin-bottom: 15px; 
}
.border-notop {
	border-top: none;
}

.breath {
	margin-top: 15px;
}

.edit-sentence {
	padding: 2px;
	border: dotted #d58512; 3px;			
}
.edit-main {
	background-color: #7be0fe;	
	color: white;		
}
.edit-sub {
	background-color: #77d477;			
	color: white;		
}
